<div class="container mt-5">
    <h2>Ajouter un nouveau client</h2>
    <!-- Display for error messages -->
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="mb-3">
            <label for="naam" class="form-label">Nom</label>
            <input type="text" class="form-control" id="naam" name="naam" [(ngModel)]="newKlant.naam" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newKlant.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        </div>
        <div class="mb-3">
            <label for="telefoonnummer" class="form-label">Téléphone</label>
            <input type="text" class="form-control" id="telefoonnummer" name="telefoonnummer" [(ngModel)]="newKlant.telefoonnummer" required>
        </div>
        <div class="mb-3">
            <label for="adres" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adres" name="adres" [(ngModel)]="newKlant.adres" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

